#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#grid-container {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  
  overflow: hidden;
  background-color: white;
}

#grid {
  width: 100%;
  height: 100%;
  transform-origin: top left;
  transition: transform 0.1s ease;
}