#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#grid-container {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  
  overflow: hidden;
  background-color: white;
}

#grid {
  width: 100%;
  height: 100%;
  /* background-image: linear-gradient(to right, lightgray 1px, transparent 1px),
                    linear-gradient(to bottom, lightgray 1px, transparent 1px); */
  /* background-size: 20px 20px; */
  transform-origin: top left;
  transition: transform 0.1s ease;
}