#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: lightblue;
  color: black;

  width: 100%;
  height: 60px;
  z-index: 10;
}

#header_title{
  margin-top: 0px;
  margin-bottom: 0px;
}

.header_button {
  margin-top: 0px;
  margin-left: 5px;
}